canvas {
    /* border: solid black 5px; */
}

#battle-scene {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 5px;

}

#info-div {
    font-size: 20px;
    font-family: "Verdana";
    text-align: center;
    display: table;
    vertical-align: middle;
    background-color: white;
    word-wrap: normal;
    border: solid black 5px;
}

#info-div::first-line {
    font-weight: bold;
}


#message-div {
    font-size: 35px;
    font-family: "Verdana";
    text-align: center;
    display: table;
    vertical-align: middle;
    background-color: white;
    word-wrap: normal;
    border: solid black 5px;
}


#menu-canvas {
    
}

#player-canvas {

}

#enemy-canvas {

}


progress {
    -webkit-appearance: none;
    background-color: red;
}

progress::-webkit-progress-value {
    background: green;
    border: solid 2px black;
}



progress::-webkit-progress-bar {
    background-color: red;
    border: solid 3px black;
}
