#battle-scene {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 5px;

}

#info-div {
    font-size: 20px;
    font-family: "Verdana";
    text-align: center;
    display: table;
    vertical-align: middle;
    background-color: white;
    word-wrap: normal;
    border: solid black 5px;
}

#info-div::first-line {
    font-weight: bold;
}


#message-div {
    font-size: 35px;
    font-family: "Verdana";
    text-align: center;
    display: table;
    vertical-align: middle;
    background-color: white;
    word-wrap: normal;
    border: solid black 5px;
}


/* Healthbars */
#player-health-bar, #enemy-health-bar {
    -webkit-appearance: none;
    background-color: red;
}

#player-health-bar::-webkit-progress-value, #enemy-health-bar::-webkit-progress-value {
    background: green;
    border: solid 2px black;
}



#player-health-bar::-webkit-progress-bar, #enemy-health-bar::-webkit-progress-bar {
    background-color: red;
    border: solid 3px black;
}

/* AP Bars */

#player-AP-bar, #enemy-AP-bar {
    -webkit-appearance: none;
    background-color: red;
}

#player-AP-bar::-webkit-progress-value, #enemy-AP-bar::-webkit-progress-value {
    background: yellow;
    border: solid 2px black;
}



#player-AP-bar::-webkit-progress-bar, #enemy-AP-bar::-webkit-progress-bar {
    background-color: black;
    border: solid 3px black;
}